<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Suprime mensagens de status do próprio Logback no stdout -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>D:/PROJETOS__2026/Java/projetos_estudos/vendas_ia/logs/vendas-mcp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>D:/PROJETOS__2026/Java/projetos_estudos/vendas_ia/logs/vendas-mcp.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Bibliotecas externas: só WARN -->
    <root level="WARN">
        <appender-ref ref="STDERR"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Sua aplicação: INFO -->
    <logger name="br.com.vendasia" level="INFO"/>

</configuration>